/* Custom styles for wedding website */

/* Style for names in hero section */
.slide-title h2 span {
  font-size: 60px; /* Reduced size for bride and groom names */
}

@media (max-width: 991px) {
  .slide-title h2 span {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  .slide-title h2 span {
    font-size: 34px;
  }
}

/* Style for invitation text */
.wedding-invite {
  margin-top: 15px;
  text-align: center;
}

.wedding-invite span {
  display: inline-block;
  font-family: "dancing_scriptregular", cursive;
  font-size: 28px;
  color: #ffffff;
  letter-spacing: 1px;
  padding: 5px 15px;
  /* background-color: rgba(200, 157, 156, 0.7); */
  border-radius: 30px;
  box-shadow: 0 3px 10px rgba(48, 43, 43, 0.568);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.534);
  border: 1px solid rgba(255, 255, 255, 0.3);
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
